.Container {
    padding: 20px;
    background-color: var(--white1);
    min-height: calc(100vh - 60px); 
    margin-left: 80px; 
    margin-top: 50px;
    margin-right: 50px;
}

.table {
    margin: auto;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 15px 15px;
    border-bottom: 1px solid var(--grey2);
    max-width: 100px; 
    line-height: 1;
    word-wrap: break-word; 
}

.table th {
    text-align: center;
    background-color: var(--lithg-green);
    color: #343434;
}

.table td {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1rem;
}

.table tr:hover {
    background-color: var(--green8);
}


.iconContainer {
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 5px; 
}
