.container {
    position: absolute;
    top: 50%;
    display: flex;
    overflow: hidden; 
    width: 0;
    position: fixed;
    left: 0;
    z-index: 1;
}


.sidebar {
    position: fixed; 
    top: 5px; 
    left: 0; 
    background-color: var(--grey); 
    color: var(--black); 
    width: 320px; 
    height: 100vh; 
    transition: width 0.3s ease-in-out; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    z-index: 200;
}

.container.collapsed .sidebar {
    width: 60px; 
}

.navList {
    position: relative;
    top: 60px;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: calc(100vh - 60px - 60px); /* Resta la altura del footer */
    scrollbar-width: thin;
    scrollbar-color: #555 #e0e0e0; /* Color del scroll y del fondo */
}

.navList {
    scroll-behavior: smooth; 
}

/* Estilo para navegadores basados en WebKit (Chrome, Edge, Safari) */
.navList::-webkit-scrollbar {
    width: 8px; 
}

.navList::-webkit-scrollbar-track {
    background: #e0e0e0; 
    border-radius: 10px; 
}

.navList::-webkit-scrollbar-thumb {
    background-color: #555; 
    border-radius: 10px; 
    border: 2px solid #e0e0e0; 
}

.navList::-webkit-scrollbar-thumb:hover {
    background-color: #333; 
}

.navItem {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease-in-out;
}

.navItem:hover {
    background-color: #6c6b6b7c;
    color: #343434;
}

:global(.dark) .navItem:hover {
    background-color: var(--grey3);
    color: #fff !important;
}

.navItem.selected {
    background-color: #5554548d; 
    color: var(--white); 
}

:global(.dark) .navItem.selected {
    background-color: var(--grey3);
    color: #fff !important;
}

.navLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
    font-size: 15.5px;
}

.icon {
    width: 18px;
    height: 18px;
    margin-right: 15px;
    transition: margin 0.3s ease;
}

.container.collapsed .icon {
    margin-right: 0; /* Elimina el margen en el menú colapsado */
}

.icon, .menuIcon {
    filter: invert(0);
    transition: filter 0.3s;
}

:global(.dark) .icon,
:global(.dark) .menuIcon {
    filter: invert(1) brightness(1.2);
}

.navLabel {
    white-space: nowrap;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.container.collapsed .navLabel {
    opacity: 0; 
}

.submenuContainer {
    max-height: 0; 
    overflow: hidden; 
    opacity: 0; 
    width: 100%; 
    transition: max-height 0.4s ease, opacity 0.4s ease; 
}

.submenuOpen {
    max-height: 1400px; 
    opacity: 1; 
}

.submenu {
    list-style: none;
    padding-left: 18px; 
    margin: 0;
}

.submenuItem {
    font-size: 14.5px;
    padding: 10px 15px;
    text-decoration: none;
    color: #444444;
    border: 1px solid transparent;
    display: block;
    transition: color 0.3s ease, padding-left 0.3s ease, border-bottom 0.3s ease-in-out; /* Animación suave */
}

.submenuItem:hover {
    color: #fff;
    padding-left: 20px; 
    border-bottom: 1px solid var(--vino-red);
}

.content {
    flex: 1;
    margin-left: 200px; 
    padding: 20px;
    background-color: #ecf0f1;
    transition: margin-left 0.3s ease-in-out;
}

.container.collapsed .content {
    margin-left: 60px; 
}

/* Estilos para el ícono de flecha */
.iconFlecha {
    width: 16px;
    height: 16px;
    margin-left: auto; 
    transition: transform 0.4s ease; 
}

.iconRotated {
    transform: rotate(90deg); 
}
/* footer menu */
.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    padding: 10px 10px;
    text-align: center;
    border-top: 1px solid var(--vino-red);
    background-color: #343434; 
    transition: opacity 0.3s ease, transform 0.3s ease; 
    /* z-index: 1000; */
}
.container.collapsed .footer {
    opacity: 0; 
    transform: translateY(20px); 
    pointer-events: none; 
}


.iconsalida {
    width: 20px; 
    height: 20px;
    flex-shrink: 0; 
}

.logoutButton {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    width: 100%;
    padding: 10px 0;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Transición suave */
}


.logoutButton:hover {
    background-color: #c0392b;
}
