.ubicacionContainer {
    padding: 30px;
    background-color: var(--white1);
    min-height: calc(100vh - 60px); 
    margin-left: 110px; 
    margin-top: 50px;
    margin-right: 50px;
    /* margin: 50px auto 0 auto; 
    max-width: 1000px; */
}

.table {
    margin: auto;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 15px 15px;
    border-bottom: 1px solid var(--grey2);
    max-width: 100px; 
    line-height: 1;
    white-space: normal; 
    word-wrap: break-word; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.table th {
    text-align: center;
    background-color: var(--lithg-green);
    color: #343434;
}

.table td {
    text-align: center;
    font-size: 1rem;
}

.table tr:hover {
    background-color: var(--green8);
}


.iconContainer {
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 5px; 
}

.formColumns {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 5px; 
}